<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whenwhere.user.dao.AdminDAO">

	<select id="getUserList" resultType="com.whenwhere.user.vo.MemberVO">
		select * from member
	</select>
	
	<update id="changeUserAuth" parameterType="map">
		update member set authority=#{auth} where nickname=#{nickname}
	</update>
	
	<insert id="joinMember" parameterType="com.whenwhere.user.vo.MemberVO">
		insert into member values(#{email}, #{nickname}, #{password}, #{phoneNumber}, 'member');
	</insert>
	
	<select id="login" parameterType="com.whenwhere.user.vo.MemberVO" resultType="com.whenwhere.user.vo.MemberVO">
		select * from member where email = #{email} and password = #{password}
	</select>
	
	<!-- <select id="totalCnt" parameterType="my.board.vo.Search" resultType="Integer">
		select count(*) from MYBOARD
		<where>
			<if test="category=='author'">
				author like '%' || #{keyword} || '%'
			</if>
			<if test="category=='title'">
				title like '%' || #{keyword} || '%'
			</if>
			<if test="category=='contents'">
				BOARD_CONTENTS like '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	
	<select id="getList" parameterType="my.board.vo.PageNation" resultType="my.board.vo.Board">
		select BOARD_NUM as num, AUTHOR, TITLE, WDATE
		from(SELECT *
		      FROM(select ROWNUM as rnum, board_num, author, lpad('└',3*(LEVEL-1),'　')|| title as TITLE, WDATE
		              from MYBOARD
		              START WITH board_ref=0
		              connect by prior board_num=board_ref
		              order siblings by wdate desc,board_num asc
		          ) board
		        where rnum <![CDATA[ <= ]]> #{currPage}*#{rows}
		     )
		where rnum >= (#{currPage}-1)*#{rows}+1
	</select>
	
	<select id="searchList" parameterType="my.board.vo.Search" resultType="my.board.vo.Board">
		select BOARD_NUM as num, AUTHOR, TITLE, WDATE
		from(SELECT *
		      FROM(select ROWNUM as rnum, board_num, author, lpad('└',3*(LEVEL-1),'　')|| title as TITLE, WDATE
		              from MYBOARD
		              <where>
		              	<if test="category=='author'">
		              		author like '%' || #{keyword} || '%'
		              	</if>
		              	<if test="category=='title'">
		              		title like '%' || #{keyword} || '%'
		              	</if>
		              	<if test="category=='contents'">
		              		BOARD_CONTENTS like '%' || #{keyword} || '%'
		              	</if>
		              </where>
		              START WITH board_ref=0
		              connect by prior board_num=board_ref
		              order siblings by wdate desc,board_num asc
		          ) board
		        where rnum <![CDATA[ <= ]]> #{page} * 5
		     )
		where rnum >= (#{page}-1)*5+1
	</select>
	
	<insert id="saveBoard" parameterType="my.board.vo.Board">
		insert into MYBOARD (BOARD_NUM, AUTHOR, TITLE, BOARD_CONTENTS, WDATE, BOARD_REF)
		values(BOARD_NUM_SEQ.NEXTVAL, 'TEMP', #{title}, #{contents}, sysdate, #{ref})
	</insert>
	
	<select id="getBoard" parameterType="my.board.vo.Board" resultType="my.board.vo.Board">
		select BOARD_NUM as num, AUTHOR, TITLE, BOARD_CONTENTS as contents, WDATE, BOARD_REF as ref 
		  from MYBOARD
		<choose>
			<when test="num == 0">
				where board_num=(select MAX(board_num) from MYBOARD where author=#{author})
			</when>
			<when test="num != 0">
				where BOARD_NUM = #{num}
			</when>
		</choose>
	</select>
	
	<update id="modBoard" parameterType="my.board.vo.Board">
		update MYBOARD set TITLE = #{title}, BOARD_CONTENTS = #{contents} where BOARD_NUM = #{num}
	</update>
	
	<select id="childCheck" resultType="Integer">
		Select count(*) from MYBOARD where BOARD_REF=#{num}
	</select>
	
	<delete id="deleteBoard">
		DELETE 
		  FROM MYBOARD
		 where BOARD_NUM = #{num}
	</delete> -->
</mapper>