<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whenwhere.board.dao.BoardDAO">
	<insert id="inserteventBoard" parameterType="com.whenwhere.board.vo.BoardVO" >
		INSERT INTO board (B_no, BoardCode, B_title, B_wdate, b_auth , B_content, B_hit, B_recommend,e_no)
        VALUES (SEQ_BOARD_REVIEW.nextval,#{category},#{title},sysdate,#{auth},#{content},0,0,SEQ_EVENT.nextval)
	</insert>
	
	<insert id="insertImage" parameterType="com.whenwhere.board.vo.ImageVO" >
		insert into image (filename,boardcode) values (#{fileName},#{boardCode})
	</insert>
	
	<insert id="insertDate" parameterType="com.whenwhere.board.vo.EventVO" >
		insert into event (e_no,e_sdate,e_edate,loc_code) values (SEQ_EVENT.nextval,#{sDate},#{eDate},#{loc})
	</insert>
	
	<select id="eventDate" parameterType="com.whenwhere.board.vo.BoardVO" resultType="com.whenwhere.board.vo.EventVO">       
           select e_no as no, e_sdate as sDate, e_edate as eDate from (select * from event order by e_no desc) where rownum = 1
	</select>
	
   <update id="eventmodifyBoard" parameterType="com.whenwhere.board.vo.BoardVO">
      update board set b_title=#{title}, b_content=#{content} where b_no=#{no}
   </update>
   
   <update id="dateModify" parameterType="com.whenwhere.board.vo.EventVO">
      update event set e_sdate=#{sDate}, e_edate=#{eDate} where e_no=#{no}
   </update>

</mapper>