<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whenwhere.board.dao.BoardDAO">
	
	<insert id="inserteventBoard" parameterType="map">
		  insert all
  		  into event (E_no, e_sdate, e_edate, loc_code)
  		  values (SEQ_EVENT.NEXTVAL, #{sDate}, #{eDate}, #{loc})
  		  into board (B_NO, BOARDCODE, B_AUTH, B_TITLE, B_WDATE, B_CONTENT, B_HIT, B_RECOMMEND, E_NO)
      	  values (SEQ_BOARD_EVENT.NEXTVAL, #{category}, #{auth}, #{title}, sysdate, #{content}, 0, 0, SEQ_EVENT.CURRVAL)
      	  into image (no,filename,boardcode) values (SEQ_BOARD_EVENT.CURRVAL,#{fileName},#{category})
		  select * from dual
	</insert>
	
	<insert id="insertReview" parameterType="map">
		  insert all
  		  into event (E_no, e_sdate, e_edate, loc_code)
  		  values (SEQ_EVENT.NEXTVAL, #{sDate}, #{eDate}, #{loc})
  		  into board (B_NO, BOARDCODE, B_AUTH, B_TITLE, B_WDATE, B_CONTENT, B_HIT, B_RECOMMEND, E_NO)
      	  values (SEQ_BOARD_EVENT.NEXTVAL, #{category}, #{auth}, #{title}, sysdate, #{content}, 0, 0, SEQ_EVENT.CURRVAL)
      	  into image (no,filename,boardcode) values (SEQ_BOARD_EVENT.CURRVAL,#{fileName},#{category})
		  select * from dual
	</insert>
	
	
	
	
		
	<select id="eventDate" parameterType="com.whenwhere.board.vo.BoardVO" resultType="com.whenwhere.board.vo.EventVO">       
           select e_no as no, e_sdate as sDate, e_edate as eDate from (select * from event order by e_no desc) where rownum = 1
	</select>
	
   <update id="eventmodifyBoard" parameterType="com.whenwhere.board.vo.BoardVO">
      update board set b_title=#{title}, b_content=#{content} where b_no=#{no}
   </update>
   
   <update id="dateModify" parameterType="com.whenwhere.board.vo.EventVO">
      update event set e_sdate=#{sDate}, e_edate=#{eDate} where e_no=#{no}
   </update>

	<select id="ReviewboardList" parameterType="map" resultMap="boardList">
        SELECT ROWNUM ,b_no as no, b_title as title, b_wdate as wdate, b_auth as auth, b_hit as hit, boardCode as category, boardname as boardname, b_content as content 
              ,to_char(e_sdate, 'YYYY-MM-DD') as sDate, to_char(e_edate, 'YYYY-MM-DD') as eDate,
              filename as filename, loc_subject as loc , b_recommend as recommend
          FROM (SELECT *
          FROM (SELECT ROWNUM as rnum, b.b_no, b.b_title, b.b_wdate, b.b_auth, b.b_hit, b.boardCode, c.boardname, b.b_content,e.E_EDATE,e.E_SDATE, i.filename,l.loc_subject,b.b_recommend
                  FROM BOARD b , boardcategory c, event e, image i, location l
                 WHERE b.boardcode = #{boardCode}
                   and b.b_NO = i.NO
                   and b.boardcode = c.boardcode
                   and b.e_no =  e.e_no 
                   and b.boardcode = i.boardcode 
                   and e.loc_code = l.loc_code
                 ORDER BY b_no DESC
                )    
          where rnum <![CDATA[ <= ]]> #{pageNum}*#{rowcnt} 
        )
	where rnum >= (#{pageNum}  -1)*(#{rowcnt}  + 1)  
   </select> 
   
    <resultMap id="boardList" type="java.util.HashMap">
   	    <id property="no" column="b_no" />
  		<result property="auth" column="b_auth"/>
  		<result property="title" column="b_title"/>
  		<result property="sDate" column="e_edate"/>
  		<result property="eDate" column="e_edate"/>
  		<result property="loc" column="loc_subject"/>
  		<result property="hit" column="b_hit"/>
  		<result property="category" column="boardCode"/>
  		<result property="boardName" column="boardname"/>
  		<result property="content" column="b_content"/>
  		<result property="recommend" column="b_recommend"/>
   </resultMap> 
   	   

   	 
   	 	<select id="eventSearchList" parameterType="map" resultMap="searchList">
	          SELECT ROWNUM ,b_no as no, b_title as title, b_wdate as wdate, b_auth as auth, b_hit as hit, boardCode as category, boardname as boardname, b_content as content 
              ,e_sdate as sDate, e_edate as eDate,filename as filename, loc_subject as loc , b_recommend as recommend
          FROM (SELECT *
          FROM (SELECT ROWNUM as rnum, b.b_no, b.b_title, b.b_wdate, b.b_auth, b.b_hit, b.boardCode, c.boardname, b.b_content,e.E_EDATE,e.E_SDATE, i.filename,l.loc_subject,b.b_recommend
                  FROM BOARD b , boardcategory c, event e, image i, location l
          <where>
         <if test="title.equals('B_TITLE')">            
           b.boardcode = #{boardCode}
                   and b.b_NO = i.NO
                   and b.boardcode = c.boardcode
                   and b.e_no =  e.e_no 
                   and b.boardcode = i.boardcode 
                   and e.loc_code = l.loc_code
                   and b.b_title like '%${content}%'
            ORDER BY b_no DESC
            )    
            WHERE rnum <![CDATA[ <= ]]> #{pageNum}*#{rowcnt} 
            )
       		WHERE rnum >= (#{pageNum}  -1)*(#{rowcnt}  + 1)
         </if>    
         
         <if test="title.equals('B_CONTENT')">            
             and b.b_NO = i.NO
                   and b.boardcode = c.boardcode
                   and b.e_no =  e.e_no 
                   and b.boardcode = i.boardcode 
                   and e.loc_code = l.loc_code
                   and b.B_CONTENT like '%${content}%'
            ORDER BY b_no DESC
                    )    
            WHERE rnum <![CDATA[ <= ]]> #{pageNum}*#{rowcnt} 
            )
       		WHERE rnum >= (#{pageNum}  -1)*(#{rowcnt}  + 1)
         </if>   
         </where> 
               
                  
   </select> 
   
    <resultMap id="searchList" type="java.util.HashMap">
   	    <id property="no" column="b_no" />
  		<result property="auth" column="b_auth"/>
  		<result property="title" column="b_title"/>
  		<result property="sDate" column="e_edate"/>
  		<result property="eDate" column="e_edate"/>
  		<result property="loc" column="loc_subject"/>
  		<result property="hit" column="b_hit"/>
  		<result property="category" column="boardCode"/>
  		<result property="boardName" column="boardname"/>
  		<result property="content" column="b_content"/>
  		<result property="recommend" column="b_recommend"/>
   </resultMap>
   
   	 <insert id="recommend" parameterType="map">
   	 	insert into RECOMMEND(b_no, BoardCODE, nickname) values (#{no},#{boardCode},#{nickName})  	 	
   	 </insert>  
   
   	 <update id="updaterecommend" parameterType="map">
   	 	 update board set b_recommend = (select max(b_recommend+1) from board where b_no=#{no}) 
   	 	 where b_no = #{no} and boardcode = #{boardCode}
   	 </update>
	
   	<select id="getSubLocationList" resultMap="location">
		select firstLoc,loc_subject
		from(select LOC_SUBJECT, MIN(LOC_CODE) as firstLoc 
			 from location 
			 group by LOC_SUBJECT order by firstLoc)
	</select>
	
	 <resultMap id="location" type="java.util.HashMap">
   	    <id property="firstLoc" column="LOC_CODE" />
  		<result property="loc_subject" column="loc_subject"/> 		
   	 </resultMap>
   	 
   	 <select id="bestcommend" resultMap="bestcommendmap">
  SELECT rownum as rnum, b.b_no as no , b.b_title , b.b_wdate, b.b_auth, b.b_hit, b.boardCode, c.boardname, b.b_content, to_char(e.e_sdate, 'YYYY-MM-DD') as sdate, to_char(e.e_edate, 'YYYY-MM-DD') as edate, i.filename,l.loc_subject,MAX(b.b_recommend) as recommend
  FROM BOARD b , boardcategory c, event e, image i, location l
  where b.boardCode =3
  and b.b_NO = i.NO
  and b.boardcode = c.boardcode
  and b.e_no =  e.e_no 
  and b.boardcode = i.boardcode 
  and e.loc_code = l.loc_code
  and rownum <![CDATA[ < ]]> 4
  GROUP BY b.b_no, b.b_title, b.b_wdate, b.b_auth, b.b_hit, b.boardCode, c.boardname, b.b_content,e.E_EDATE,e.E_SDATE, i.filename,l.loc_subject,rownum
  order by recommend desc
  
  	
   	 </select>
   	 
   	 <resultMap id="bestcommendmap" type="java.util.HashMap">
   	    <id property="no" column="b_no" />
  		<result property="auth" column="b_auth"/>
  		<result property="title" column="b_title"/>
  		<result property="sDate" column="e_edate"/>
  		<result property="eDate" column="e_edate"/>
  		<result property="loc" column="loc_subject"/>
  		<result property="hit" column="b_hit"/>
  		<result property="category" column="boardCode"/>
  		<result property="boardName" column="boardname"/>
  		<result property="content" column="b_content"/>
  		<result property="recommend" column="b_recommend"/> 		
   	 </resultMap>
   	   
</mapper>