<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whenwhere.board.dao.BoardDAO">
	
	<insert id="inserteventBoard" parameterType="map">
		  insert all
  		  into event (E_no, e_sdate, e_edate, loc_code)
  		  values (SEQ_EVENT.NEXTVAL, #{sDate}, #{eDate}, #{loc})
  		  into board (B_NO, BOARDCODE, B_AUTH, B_TITLE, B_WDATE, B_CONTENT, B_HIT, B_RECOMMEND, E_NO)
      	  values (SEQ_BOARD_EVENT.NEXTVAL, #{category}, #{auth}, #{title}, sysdate, #{content}, 0, 0, SEQ_EVENT.CURRVAL)
		  select * from dual
	</insert>
	
	<insert id="insertImage" parameterType="com.whenwhere.board.vo.ImageVO" >
		insert into image (filename,boardcode) values (#{fileName},#{boardCode})
	</insert>


	<select id="eventDate" parameterType="com.whenwhere.board.vo.BoardVO" resultType="com.whenwhere.board.vo.EventVO">       
           select e_no as no, e_sdate as sDate, e_edate as eDate from (select * from event order by e_no desc) where rownum = 1
	</select>
	
   <update id="eventmodifyBoard" parameterType="com.whenwhere.board.vo.BoardVO">
      update board set b_title=#{title}, b_content=#{content} where b_no=#{no}
   </update>
   
   <update id="dateModify" parameterType="com.whenwhere.board.vo.EventVO">
      update event set e_sdate=#{sDate}, e_edate=#{eDate} where e_no=#{no}
   </update>

	<select id="ReviewboardList" parameterType="map" resultMap="boardList,DateList">
	        select ROWNUM ,b_no as no, b_title as title, b_wdate as wdate, b_auth as auth, b_hit as hit, boardCode as category, boardname, b_content as content ,e_sdate, e_edate 
               from (SELECT *
               FROM (select ROWNUM as rnum, b.b_no, b.b_title, b.b_wdate, b.b_auth, b.b_hit, b.boardCode, c.boardname, b.b_content,e.E_EDATE,e.E_SDATE
                        from board b , boardcategory c, event e
                        where b.boardcode = c.boardcode and b.boardcode=3 and e.e_no = b.e_no
                        order by b_no desc
                    )  
              where rnum <![CDATA[ <= ]]> #{pageNum}*#{rowcnt} 
            )
       	where rnum >= (#{pageNum}  -1)*(#{rowcnt}  + 1)    
   </select> 
   
   <resultMap id="boardList" type="com.whenwhere.board.vo.BoardVO">
   	    <id property="no" column="b_no" />
  		<result property="auth" column="b_auth"/>
  		<result property="title" column="b_title"/>
  		<result property="wdate" column="b_wdate"/>
  		<result property="hit" column="b_hit"/>
  		<result property="category" column="boardCode"/>
  		<result property="boardname" column="boardname"/>
  		<result property="content" column="b_content"/>
   </resultMap>
   	
   <resultMap id="DateList" type="com.whenwhere.board.vo.EventVO">
   		<result property="eDate" column="E_EDATE"/>
  		<result property="sDate" column="E_SDATE"/>
   </resultMap>
<!--    <select id="imageList">
   		
   </select> -->
   

   
</mapper>