<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whenwhere.user.dao.MessageDAO">

	<insert id="sendMsg" parameterType="com.whenwhere.user.vo.MessageVO">
		insert into message (M_NO,
		sender, receiver, M_Title, M_Content, M_status, M_Wdate)
		values(SEQ_MSG.NEXTVAL, #{sender}, #{receiver}, #{title}, #{content},
		'0', sysdate)
	</insert>

	<select id="getRowsByReceiver" resultType="Integer">
		select count(*) from
		message where receiver = #{receiver}
	</select>

	<select id="getMsgList" parameterType="map"
		resultType="com.whenwhere.user.vo.MessageVO">
		select M_no as no, sender, receiver, m_title as title, m_content as
		content, M_status as status, M_wdate as wdate
		from (SELECT *
		FROM (select ROWNUM as rnum, M_no, sender, receiver, m_title, m_content,
		M_status, M_wdate
		from MESSAGE
		where 1=1
		<choose>
			<when test="type == 'inbox'">
				and receiver = #{receiver}
				and M_status != '2'
			</when>
			<when test="type == 'sent'">
				and sender = #{receiver}
			</when>
			<when test="type == 'outbox'">
				and receiver = #{receiver}
				and M_status = '2'
			</when>
		</choose>
		order by M_NO desc
		) board
		where rnum <![CDATA[ <= ]]>
		#{page}*#{rows}
		)
		where rnum >= (#{page} -1)*(#{rows} + 1)
	</select>

	<select id="getNewMsg" parameterType="map"
		resultType="com.whenwhere.user.vo.MessageVO">
		select no, sender, title, content, status, wdate, cnt
		from (select M_no as no, sender, m_title as title, m_content as content,
		M_status as status, M_wdate as wdate,
		RANK() OVER (ORDER BY M_No desc) as rk, COUNT(*) OVER() as cnt
		from message
		where receiver = #{receiver}
		and M_status = '0'
		order by no desc
		)
		where rk <![CDATA[ <= ]]>
		5
	</select>

	<select id="getMsg" resultType="com.whenwhere.user.vo.MessageVO">
		select M_no as no, sender,
		m_title as title, m_content as content, M_wdate as wdate
		from message
		where M_no = #{num}
	</select>

	<update id="updateMsgStatus">
		update message set
		<choose>
			<when test="type == 'read'">
				M_status = '1'
			</when>
			<when test="type == 'move'">
				M_status = '2'
			</when>
		</choose>
		where M_no = #{num}
	</update>

	<delete id="deleteMsg">
		delete from message where M_no = #{num}
	</delete>
</mapper>