<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whenwhere.team.dao.TeamDAO">
	
	<insert id="makeTeam" parameterType="java.util.HashMap">
		insert ALL
     		 into team (T_NO, TEAMNAME, SUBJECT, T_SDATE, T_EDATE, LOC_CODE)  values (SEQ_TEAM.nextval, #{teamname}, #{subject}, #{sdate}, #{edate}, #{loc_code})
     		 into jointeam (T_NO, nickname, t_status) values (SEQ_TEAM.currval, #{nickname}, '2')
     	select * from dual
	</insert>
	
	<select id="getTeamList" resultType="com.whenwhere.team.vo.TeamVO">
		select join.NICKNAME as nickName, join.T_STATUS as status, t.LOC_CODE, t.T_SDATE as sdate, t.T_EDATE as edate,t.SUBJECT,t.TEAMNAME, t.T_NO as no 
		from JOINTEAM join,TEAM t
		where join.T_NO = t.T_NO and nickname = #{nickName}
	</select>
</mapper> 