<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whenwhere.team.dao.TeamDAO">
	
	<insert id="makeTeam" parameterType="java.util.HashMap">
		insert ALL
     		 into team (T_NO, TEAMNAME, SUBJECT, T_SDATE, T_EDATE, LOC_CODE)  values (SEQ_TEAM.nextval, #{teamname}, #{subject}, #{sdate}, #{edate}, #{loc_code})
     		 into jointeam (T_NO, nickname, t_status) values (SEQ_TEAM.currval, #{nickname}, '2')
     	select * from dual
	</insert>
	
	<insert id="sendMsg">
		 Insert into TEAMCHAT(CHAT_NO,NICKNAME,CONTENT,T_NO) values(SEQ_TEAM_CHAT.nextval,#{nickName},#{msg},#{teamNum})
	</insert>
	
	<select id="getTeamList" resultType="com.whenwhere.team.vo.TeamVO">
		select join.NICKNAME as nickName, join.T_STATUS as status, t.LOC_CODE, t.T_SDATE as sdate, t.T_EDATE as edate,t.SUBJECT,t.TEAMNAME, t.T_NO as no 
		from JOINTEAM join,TEAM t
		where join.T_NO = t.T_NO and nickname = #{nickName}
	</select>
	
	<select id="getTeamInfo" resultType="com.whenwhere.team.vo.TeamVO">
		select LOC_CODE, T_SDATE as sdate, T_EDATE as edate, SUBJECT, TEAMNAME, T_NO as no 
		from team
		where t_no = #{teamNum}
	</select>
	
	<select id="getTeamUserList" resultType="String">
		select nickname from JOINTEAM where t_no = #{teamNum}
	</select>
	
	<select id="getApplyTeamUserList" resultType="com.whenwhere.team.vo.TeamVO">
		select t_no as no, nickname, t_status as status
  		from jointeam
 		where t_no = #{tNo}
		order by DECODE(T_status, 2, 1, 3, 2, 1, 3, 4)
	</select>
	
	<delete id="applyUserDelete" parameterType="java.util.HashMap">
		delete from jointeam where t_no = #{tNo} and nickname = #{nickname}
	</delete>
	
	<update id="applyUser" parameterType="java.util.HashMap">
		update jointeam set t_status = '3' where t_no = #{tNo} and nickname = #{nickname}
	</update>
	
	<select id="getchatTeam" resultType="com.whenwhere.team.vo.TeamChatVO">
		select CHAT_NO as msgNo, nickname, content, T_NO as teamNo from TEAMCHAT where t_no = #{teamNum}
	</select>
</mapper> 