

/* loginForm test */
.cd-form {
  padding: 1.4em;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 55%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 25px;
  width: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form label.cd-email {
  background-image: url("../resources/img/cd-icon-email.svg");
}
.cd-form label.cd-password {
  background-image: url("../resources/img/cd-icon-password.svg");
}
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.cd-form input.full-width {
  width: 100%;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.cd-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/*  연수 CSS 수정부분 topNav 회원가입  */

	/*  로그인 모달   */
.top_fieldset button{
	width: 60%;
}

.top_fieldset button:hover{
	background: white;
	color: black;
}

	/*  회원가입 모달   */
.join-group button{
	margin-right: 20px;
    width: 120px;
    font-size: 15px;
}

.join-group button:hover{
	background: white;
	color: black;
}

.modal-join{
	background: black;
}

.cd-form-join .fieldset {
  position: relative;
  margin: 1.4em 0;
}

.cd-form-join .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form-join .fieldset:first-child {
  margin-top: 0;
}
.cd-form-join .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form-join label {
    font-size: 15px;
    color: cornsilk;
}
.cd-form-join label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 55%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 25px;
  width: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form-join input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.cd-form-join input.full-width {
  width: 100%;
}
.cd-form-join input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form-join input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
